# Pymaceuticals Inc.
---

### Analysis

- Add your analysis here.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

mouse_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")

# Display the data table for preview

mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# My Cell

mouse_df.columns

Index(['Mouse ID', 'Drug Regimen', 'Sex', 'Age_months', 'Weight (g)',
       'Timepoint', 'Tumor Volume (mm3)', 'Metastatic Sites'],
      dtype='object')

In [3]:
# Renaming comuns for ease of coding

mouse_df = mouse_df.rename(columns={'Mouse ID': 'ID', 'Drug Regimen': 'Drug', 'Weight (g)': 'Wt',
                           'Timepoint': 'time', 'Tumor Volume (mm3)': 'tvolume', 'Metastatic Sites': 'sites'})
mouse_df.columns

Index(['ID', 'Drug', 'Sex', 'Age_months', 'Wt', 'time', 'tvolume', 'sites'], dtype='object')

In [4]:
# My cell
mouse_df.describe()

        Age_months           Wt         time      tvolume        sites
count  1893.000000  1893.000000  1893.000000  1893.000000  1893.000000
mean     12.814580    25.662441    19.572108    50.448381     1.021659
std       7.189592     3.921622    14.079460     8.894722     1.137974
min       1.000000    15.000000     0.000000    22.050126     0.000000
25%       7.000000    25.000000     5.000000    45.000000     0.000000
50%      13.000000    27.000000    20.000000    48.951474     1.000000
75%      20.000000    29.000000    30.000000    56.292200     2.000000
max      24.000000    30.000000    45.000000    78.567014     4.000000

In [5]:
# My Cell
mouse_df['Drug'].value_counts()

Capomulin    230
Ramicane     228
Ketapril     188
Naftisol     186
Zoniferol    182
Placebo      181
Stelasyn     181
Infubinol    178
Ceftamin     178
Propriva     161
Name: Drug, dtype: int64

In [6]:
# Checking the number of mice.
mouse_df['ID'].nunique()

249

In [7]:
# My Cell
mouse_df['time']

0        0
1        5
2       10
3       15
4       20
        ..
1888    25
1889    30
1890    35
1891    40
1892    45
Name: time, Length: 1893, dtype: int64

In [8]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

duplicates = mouse_df[mouse_df.duplicated(subset=['ID', 'time'])]
duplicates['ID'].unique()

array(['g989'], dtype=object)

In [9]:
#My cell

all_duplicates = pd.DataFrame(duplicates)
# all_duplicates.
mouse_df.head()

     ID      Drug   Sex  Age_months  Wt  time    tvolume  sites
0  k403  Ramicane  Male          21  16     0  45.000000      0
1  k403  Ramicane  Male          21  16     5  38.825898      0
2  k403  Ramicane  Male          21  16    10  35.014271      1
3  k403  Ramicane  Male          21  16    15  34.223992      1
4  k403  Ramicane  Male          21  16    20  32.997729      1

In [10]:
# Optional: Get all the data for the duplicate mouse ID.

In [11]:
mouse_df_clean = mouse_df.drop_duplicates(subset=['ID', 'time'])
mouse_df_clean.head()

     ID      Drug   Sex  Age_months  Wt  time    tvolume  sites
0  k403  Ramicane  Male          21  16     0  45.000000      0
1  k403  Ramicane  Male          21  16     5  38.825898      0
2  k403  Ramicane  Male          21  16    10  35.014271      1
3  k403  Ramicane  Male          21  16    15  34.223992      1
4  k403  Ramicane  Male          21  16    20  32.997729      1

In [12]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mouse_df_clean = mouse_df.drop_duplicates(subset=['ID', 'time'])
mouse_df_clean.head()

     ID      Drug   Sex  Age_months  Wt  time    tvolume  sites
0  k403  Ramicane  Male          21  16     0  45.000000      0
1  k403  Ramicane  Male          21  16     5  38.825898      0
2  k403  Ramicane  Male          21  16    10  35.014271      1
3  k403  Ramicane  Male          21  16    15  34.223992      1
4  k403  Ramicane  Male          21  16    20  32.997729      1

In [13]:
# Checking the number of mice in the clean DataFrame.
mouse_df_clean['ID'].nunique()

249

## Summary Statistics

In [14]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
reg_mean = mouse_df_clean.groupby('Drug').mean()['tvolume']
reg_med = mouse_df_clean.groupby('Drug').median()['tvolume']
reg_var = mouse_df_clean.groupby('Drug').var()['tvolume']
reg_std = mouse_df_clean.groupby('Drug').std()['tvolume']
reg_sem = mouse_df_clean.groupby('Drug').sem()['tvolume']
reg_med.head()
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen:
# mean, median, variance, standard deviation, and SEM of the tumor volume.
# Assemble the resulting series into a single summary DataFrame.
summary_stats = pd.DataFrame({'Tumor Volume Mean':reg_mean,
                              'Tumor Volume Median':reg_med,
                              'Tumor Volume Variance':reg_var,
                              'Tumor Volume Std. Dev.': reg_std,
                              'Tumor Volume Std. Err.': reg_sem
})
summary_stats

,Tumor Volume Mean,Tumor Volume Median,Tumor Volume Variance,Tumor Volume Std. Dev.,Tumor Volume Std. Err.
Drug,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.393463,50.909965,43.138803,6.568014,0.525862
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

In [15]:
# Generate a summary statistics table of mean, median, variance, standard deviation,
# and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line.
mouse_df_clean.groupby(['Drug'])[['tvolume']].agg(["mean", "median", "var", "std", "sem"])

             tvolume
                mean     median        var       std       sem
Drug
Capomulin  40.675741  41.557809  24.947764  4.994774  0.329346
Ceftamin   52.591172  51.776157  39.290177  6.268188  0.469821
Infubinol  52.884795  51.820584  43.128684  6.567243  0.492236
Ketapril   55.235638  53.698743  68.553577  8.279709  0.603860
Naftisol   54.331565  52.509285  66.173479  8.134708  0.596466
Placebo    54.033581  52.288934  61.168083  7.821003  0.581331
Propriva   52.393463  50.909965  43.138803  6.568014  0.525862
Ramicane   40.216745  40.673236  23.486704  4.846308  0.320955
Stelasyn   54.233149  52.431737  59.450562  7.710419  0.573111
Zoniferol  53.236507  51.818479  48.533355  6.966589  0.516398

## Bar and Pie Charts

In [16]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using Pandas.

timepoint_num = mouse_df_clean.groupby(mouse_df_clean['time']['Drug'])
stat_labels = mouse_df_clean['Drug'].unique()
timepoint_num.head()
# timepoint_num.plot(kind='bar', figsize=(10,4))

KeyError: 'Drug'

In [ ]:
# Generate a bar plot showing the total number of timepoints for all mice tested for each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using Pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original DataFrame to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers.

# Locate the rows which contain mice on each drug and get the tumor volumes

# add subset

# Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot that shows the distrubution of the tumor volume for each treatment group.

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model
# for mouse weight and average tumor volume for the Capomulin regimen